
footer {
  padding: 60px 0;
  background: var(--back-gray);
  @media (min-width: 768px) {
  display: flex;
  }
}

.footer-left {
  @media (min-width: 768px) {
    display: inline-block;
  }
  @media (min-width: 1200px) {
  display: inline-block;
  margin-left: 0;
  margin-right: auto;
  }
}

.logo-footer {
  display: block;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: var(--white-text);
  margin-bottom: 20px;
  @media (max-width: 1199px) {
  text-align:center;
  }
}

.adress {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: var(--white-text);
  @media (max-width: 1199px) {
  text-align: center;
  }
}

.footer-contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: var(--grey-text-op60);
  display: flex;
  margin-top: 8px;
  @media (max-width: 1199px) {
  justify-content: center;
  }
  @media (min-width: 1200px) {
    flex-direction: column;
    margin-top: 9px;
  }
}

.footer-socials {
  vertical-align: top;
  margin-top: 60px;
  margin-bottom: 60px;

  @media (min-width: 768px) {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 165px;
  }
  
  @media (min-width: 1200px) {
    margin-left: 70px;
    margin-top: 7px;
  }
  
}

.footer-socials__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
  margin-bottom: 20px;
  text-align:center;
  @media (min-width: 768px) {
    margin-top: 5px;
  }
  
}