// @media  screen and (min-width:480px) {
// @media  screen and (min-width: 768px) {
// @media  screen and (min-width: 1200px) {


// header {
//     display: flex;
//     // justify-content: space-between;
//     align-items: center;
// }

.menu-button {
    @media  screen and (min-width:480px) {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: auto;
    margin-right: 0;
    }
    @media  screen and (min-width: 768px) {
        display: none;
    }
    @media  screen and (min-width: 1200px) {
        display: none;
    }
}

.header-nav__list, .contacts-list {
    @media  screen and (max-width:480px) {
        display: none;
    }
}

.menu-button .icon-close {
    display: none;
}

.menu-button.is-open .icon-close {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}

.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    color: var(--black-text);
    font-size: 24px;
    
    

}

.logo-blue {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    color: var(--blue-text);
    font-size: 24px;
}

.logo-footer {
    display: block;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: var(--white-text);
    margin-bottom: 20px;
  }

  .header-nav,
  .header-nav__list,
  .contacts-list {
    @media  screen and (min-width: 768px) {
    display: flex;
  }
  }

  .header-nav {
    @media  screen and (max-width: 767px) {
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    }
    @media  screen and (min-width: 768px) {
  align-items: center;
    }
}

.header-nav__list {
    @media  screen and (max-width: 767px) {
    display: none;
  }
    @media  screen and (min-width: 768px) {
    margin-left: 88px;
    }
    @media  screen and (min-width: 1200px) {
    margin-left: 88px;
    }
  }

.header-nav__list a,
.contacts-list a {
    display: block;
    @media  screen and (min-width: 1200px) {
  
  padding: 32px 0;
    }
}

.header-nav__list li:not(:last-child) {
    @media  screen and (min-width: 768px) {
    margin-right: 50px;
    }
  }

  .header-nav__isActive {
    color: var(--blue-text);
    -webkit-transition: var(--transition-250);
    transition: var(--transition-250);
  }
  
  .header-nav__isActive::after {
    @media  screen and (min-width: 768px) {
    display: block;
    content: "";
    height: 4px;
    background: var(--blue-text);
    border-radius: 2px;
    -webkit-transition: var(--transition-250);
    transition: var(--transition-250);
    }
  }
  
  .header-nav__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: var(--graphite-text);
    padding: 32px 0;
    -webkit-transition: var(--transition-250);
    transition: var(--transition-250);
  }
  
  .header-nav__link:focus,
  .header-nav__link:hover {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: var(--blue-text);
    -webkit-transition: var(--transition-250);
    transition: var(--transition-250);
  }
  
  .contacts-list__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: var(--grey-text);
    -webkit-transition: var(--transition-250);
    transition: var(--transition-250);
  }
  
  .contacts-list {
    display: block;
    transition: var(--transition-250);
    @media (max-width: 767px) {
      display: none;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
    // right: 15px;
    // top: 21px;
   margin-right: 0;
   margin-left: auto;
    }
    @media  screen and (min-width: 1200px) {
        display: flex;
        margin-left: auto;
        margin-right: 0;
        justify-content: space-between;
        transition: var(--transition-250);
    }
  }
  
  .contacts-list li:last-child {
    @media (min-width: 768px) and (max-width: 1200px) {
        margin-top: 10px;
    }
    @media  screen and (min-width: 1200px){
    margin-left: 50px;
  }
  }
  
  .contacts-list .contacts-list__link .contacts-list__mail, .contacts-list__tel {
    fill: currentColor;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .contacts-list__link:focus,
  .contacts-list__link:hover {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: var(--blue-text);
    -webkit-transition: var(--transition-250);
    transition: var(--transition-250);
  }

  .contacts-list__item {
    @media  screen and (min-width: 768px) {
        margin-left: auto;
        margin-right: 0;
    }


  }

// @media  screen and (min-width:480px)
//     @media  screen and (min-width: 768px)
//     @media  screen and (min-width: 1170px)

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  @media  screen and (min-width: 768px) {
    display: none;
  }
}

// .menu-toggle {
//   @media  screen and (min-width:480px) {
//   position:absolute;
//   top:0;
//   right:0;


.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #FFFFFF;
  z-index: 555;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

}

.menu-container.is-open {
  transform: translateX(0);
}



// .menu-toggle:hover,
// .menu-toggle:focus {
//   background-color: rgba(0, 0, 0, 0.1);
// }

// @media (min-width: 600px) {
//   .menu-toggle {
//     display: none;
//   }
// }

.menu-container .menu-toggle {
  position: absolute;
  top: 20px;
  right: 15px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu__link {
  display: block;
  padding: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
} 

.mobile-menu__tel-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196F3;
  
}

.mobile-menu__tel {
  margin-bottom: 32px;
}

.mobile-menu__mail-link{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu__contacts-list {
  margin-top: 302px;
  margin-bottom: 64px;
}

.menu-social__item {
  display: inline;
}

.menu-social__item:not(:last-child) {
  margin-right: 10px;
}

.menu-social__item:not(:first-child) {
  margin-left: 10px;
}

.menu-social__item::after {
	content: "|";
	color: rgba(33, 33, 33, 0.2);
}

.menu-social__item:last-child::after {
	display: none;
}

.menu-social__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.item__isActive {
  color: var(--blue-text);
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
}

.mobile-menu__link:focus,
  .mobile-menu__link:hover {
    // font-style: normal;
    // font-weight: 500;
    // font-size: 14px;
    color: var(--blue-text);
    -webkit-transition: var(--transition-250);
    transition: var(--transition-250);
  }
// .menu {
//   padding: 0;
//   margin: 0;
//   list-style: none;
//   display: flex;
// }

// .menu .link {
//   padding: 10px;
//   color: inherit;
//   text-decoration: none;
// }

// .menu .link:hover,
// .menu .link:focus {
//   text-decoration: underline;
// }

// @media (max-width: 599px) {
//   .menu {
//     display: none;
//   }
// }