.portfolio {
  padding: 60px 0;
  border-top: 1px solid #ECECEC;;
  @media (min-width: 1200px) {
    padding: 94px 0;
  }
  }
  
  .portfolio__title {
    display: none;
  }
  
  .portfolio__list {
    display: flex;
    @media (max-width: 767px) {
    flex-wrap: wrap;
    margin-bottom: 40px;
      
    }
    
    @media (min-width: 768px) {
    margin-bottom: 30px;
    justify-content: center;
    }
    @media (min-width: 1200px) {
    margin-bottom: 50px;
    }
  }
  
  .portfolio__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 15px;
    @media (min-width: 768px) {
      margin-bottom: 0px;
      }
      
}

  .portfolio__item:not(:last-child) {
    margin-right: 8px;
  }
  
  
  .portfolio__button:focus,
  .portfolio__button:hover {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--white-text);
    background: var(--blue-text);
    border-radius: 4px;
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    -webkit-transition: var(--transition-250);
    transition: var(--transition-250);
  }
  
  .portfolio__button:active {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--white-text);
    background: var(--blue-text);
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
  
  .portfolio__button {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--graphite-text);
    background: var(--back-gray-light);
    border-radius: 4px;
    padding: 6px 22px;
    outline: none;
    border: none;
    -webkit-transition: var(--transition-250);
    transition: var(--transition-250);
  }
  
  .portfolio__button,
  .portfolio__button:active,
  .portfolio__button:focus {
    outline: none;
    border: none;
  }
  
  .portfolio__button:focus {
    color: var(--white-text);
  }
  
  .portfolio__button:focus {
    background: var(--blue-text);
  }